{% extends 'template/index.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-10">
            <h1> {{ disciplina.nome }} </h1>
            <hr class="linha-verde">
        </div>

        <div class="col-md-2">
            <a href="/disciplina/{{disciplina.id}}/atividade/criar" class="btn btn-primary">Criar nova atividade</a>
            <a href="/disciplina/{{disciplina.id}}/editar" class="btn">Editar disciplina</a>
            <a href="/disciplina/{{disciplina.id}}/excluir" class="btn text-danger">Excluir disciplina</a>
        </div>
    </div>
    <h3>{{ disciplina.descricao }}</h3>
    <p>Disciplina criada por {{disciplina.professor.usuario.nome}}.</p>
    <br>
    <hr>
    <h2>Atividades da disciplina</h2>
    <hr class="linha-verde">
    
    {% include 'disciplina/_atividades.html' %}

{% endblock %}