<div class="row">
    <div class="col-md-8">
        <h3>pesquisar disciplinas da sua instituição:</h3>
        <div class="linha-verde"></div>
        <form class="campo-pesquisa" action="/pesquisar_disciplina" method="get">
            <input placeholder="Ex.: Química" type="text" class="form-control" name="nome"/>
            <input type="submit" class="btn btn-primary" value="Pesquisar"/>
        </form>
        <div class="linha-pontilhada"></div>
        <h4>Disciplinas disponíveis para a instituição '{{estudante.instituicao}}'</h4>

        {% for disciplina in disciplinas_disponiveis %}
            {% include 'disciplina/_disciplina.html' %}
        {% else %}
        <h4>A sua instituição ainda não tem disciplinas cadastradas em nosso site.</h4>
        {% endfor %}
    </div>
    
    <div class="col-md-4 feed">
        <h3>disciplinas assinadas:</h3>
        <div class="linha-verde"></div>
        <div class="disciplinas">
            {% for disciplina in disciplinas_assinadas %}
                {% include 'disciplina/_disciplina.html' %}
            {% else %}
        </div>
        <h4>Você ainda não assinou nenhuma disciplina.</h4>
        {% endfor %}
    </div>
</div>
