<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'template/css.html' %}
    
    <title>stodo {% block titulo %} {% endblock %}</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    {% include 'template/nav.html' %}

    <div class="mensagens-sucesso">
        {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for mensagem in mensagens %}
                <div class="alert alert-success">{{ mensagem }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    
    <main class="main container">
        {% block content %} {% endblock %}
    </main>
    
    {% include 'template/footer.html' %}

    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.pt-BR.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            })
        })
    </script>
</body>

</html>